# =============================================================================
# SYSTÈME DE BASES DE DONNÉES FÉDÉRÉES — Banque Commerciale Togo
# École Polytechnique de Lomé
# =============================================================================

# HUB CENTRAL — PostgreSQL 16 (postgres_hub : 5432)
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# ESCLAVE CRÉDIT — MySQL 8 (mysql-credit)
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# ESCLAVE COMPTABLE — SQL Server 2022 (mssql-compta)
MSSQL_HOST=
MSSQL_PORT=
MSSQL_DATABASE=
MSSQL_USER=
MSSQL_PASSWORD=
ACCEPT_EULA=
MSSQL_PID=